.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw;
}
.header-logo {
  margin-right: 7vw;
}
.header-logo h3 {
  font-family: Source Serif Pro;
  font-weight: 600;
  font-size: 50px;
  line-height: 63px;
  letter-spacing: 0.12em;
  color: #434b62;
}
.studio-page-name {
  font-family: Aharoni;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-left: 8vw;
  margin-bottom: 2vh;
}
.studio-team-img img {
  width: 100%;
}
.studio-about-team {
  display: flex;
  justify-content: center;
  padding: 0 8vw;
  margin-top: 5vh;
}
.studio-about-team p {
  font-family: Browallia New;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #000000;
}
.studio-team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 0 8vw;
  margin-top: 10vh;
}
.studio-team-member img {
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  margin: 8vh 0 2vh 0;
}
.footer-social-media-icons {
  padding-right: 1vw;
  border-right: 1px solid rgba(94, 94, 94, 0.5);
}
.footer-social-media-icons img:not(:first-child) {
  margin-left: 1vw;
}
.footer-languages {
  margin-left: 1vw;
}
.footer-languages ul {
  list-style: none;
  background: #f9f9f9;
}
.footer-languages ul li {
  display: flex;
  align-items: center;
}
.footer-languages ul li p {
  margin-left: 0.5vw;
  font-family: Browallia New;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #5d5d5d;
}
.studio-team-hide {
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 768px) {
  .studio-team-members {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 15px !important;
  }
}
@media (max-width: 375px) {
  .studio-team-members {
    grid-template-columns: 1fr !important;
    grid-gap: 15px !important;
  }
  .footer-social-media-icons{
    padding-right: 5vw !important;
  }
  .footer-languages{
    padding-left: 5vw;
  }
}
