@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
@import url("https://db.onlinewebfonts.com/c/558e1f7c26d9405ac41942266ebac11d?family=Browallia+New");
@import url("https://db.onlinewebfonts.com/c/3c1a440c0da3e6484b92282953ca3555?family=Aharoni");

@font-face {
  font-family: ArTarumianHelevetacia;
  src: url("./css/Arial-AM.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
:root{
  --bac-font: Browallia New;
  --font-size:25px;
  --bold-font:Aharoni;
  --menu-width: 8vw;
  --menu-4th-column-width: 160px;
}

